## Python Lists

#### Python which can be written as a list of comma-separated values (items) between square brackets.

### 1. Declaring a list

In [3]:
list1 = ['degree', 'lecture', 7, True]

In [20]:
list2 = [1, 2, 3, \
      4, 5 ]

In [7]:
list3 = ["a", "b", "c", "d"]

In [8]:
# Nested Lists
list4 = ["this", ["python", "series", "is"], "awesome"]

# Nested with calling predefined list
list5 = [True, list3, 1997, 2.5]

### 2. Accessing values in list

![title](indexing.png)

In [10]:
list1[0]

'degree'

In [12]:
list4[1][1]

'series'

In [13]:
# Accessing range of items - POSITIVE Indexing
list2[1:3]

[2, 3]

In [15]:
# Accessing range of items - NEGATIVE Indexing 
list2[-4:-2]

[2, 3]

### 3. Updating the list

In [21]:
#Changing single index value in a list 
print(list2)
list2[2] = 2.5
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 2.5, 4, 5]

In [22]:
#Changing multiple index values in a list
print(list2)
list2[1:4] = [True, 'hero', 20]
print(list2)

[1, 2, 2.5, 4, 5]
[1, True, 'hero', 20, 5]

### 4. Deleting list, list values and appending values

In [23]:
list4

['this', ['python', 'series', 'is'], 'awesome']

In [24]:
#Deleting a single value in a list
del list4[2]
print(list4)

['this', ['python', 'series', 'is']]

In [25]:
# Appending values in a list
print(list4)
list4.append('however')
print(list4)

['this', ['python', 'series', 'is']]
['this', ['python', 'series', 'is'], 'however']

In [26]:
# Inserting values in a list at a particular index
print(list4)
list4.insert(1, 200)
print(list4)

['this', ['python', 'series', 'is'], 'however']
['this', 200, ['python', 'series', 'is'], 'however']

In [27]:
# Inserting multiple values at a particular index
print(list4)
list4[2:2] =[True, list2]
print(list4)

['this', 200, ['python', 'series', 'is'], 'however']
['this', 200, True, [1, True, 'hero', 20, 5], ['python', 'series', 'is'], 'however']

### 5. Basic List Methods

#### 5.1 Length

In [29]:
print(list4)
len(list4)

['this', 200, True, [1, True, 'hero', 20, 5], ['python', 'series', 'is'], 'however']

6

#### 5.2 Concatenate

In [30]:
print(list2)
print(list3)
list2 + list3

[1, True, 'hero', 20, 5]
['a', 'b', 'c', 'd']

[1, True, 'hero', 20, 5, 'a', 'b', 'c', 'd']

#### 5.3 Iteration

In [32]:
for x in list2:
    print(x)

1
True
hero
20
5

#### 5.4 Check for a particular value in a list

In [33]:
print(list2)
20 in list2

[1, True, 'hero', 20, 5]

True

In [34]:
'20' in list2

False

### 6. In-built methods for list

[Official inbuilt methods for a list ](https://docs.python.org/3.10/tutorial/datastructures.html)